
{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block css %}
<!-- Custom styles for this template -->
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- Page Content -->
    <section>
    <div class="container">
        <div class="row">
            <div class="text-light">
                <h1 class="text-light">GeekShop Store</h1>
                <p>
                    Уникальный гитарный интернет  магазин на GeekShop Store.
                    У нашего оборудования только самый качественный звук!!!
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products:index' %}">
                        Начать покупки
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
